body {
    background-color: rgb(4, 146, 166);
    font-family: 'Oswald', sans-serif;
}
.megan-jumbotron {
    background-color: rgb(236, 250, 255);
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bebas Neue', cursive;
}
#megan-header {
    font-size: 60px;
}
#directions {
    font-size: 18px;
}
#megan-visible {
    margin-top: 10px;
}
.nonvisible {
    margin-right: 20px;
}
#megan-move {
    margin-top: 10px;
}
.megan-text {
    font-size: 18px;
}
.growth {
    margin-left: 20px;
}
.shrink {
    margin-left: 20px;
}
#megan-teal{
    height: 32vh;
    margin-top: 150px;
    margin-left: 20px;
}
.left-button {
    font-size: 22px;
    padding: 3px 20px;
    margin-left: -10px;
}
.up-button {
    font-size: 22px;
    padding: 3px 28px;
    margin-left: 30px;
}
.right-button {
    font-size: 22px;
    padding: 3px 20px;
    margin-left: 20px;
}
.down-button {
    font-size: 22px;
    padding: 3px 20px;
    margin-left: 30px;
}
.controls {
    margin: 10px 0 10px 0;
}
.control-center {
    margin: 0 0 0 160px;
}
